extends layout

block splash 
    .splash.collapse
        a(href="#about")
            img.me(src="/images/otto.jpg")
        h2.name= name
        h4= tagline

block side
    .header
        a(href="#")
            img.me(src="/images/otto.jpg")
        h3.name= name

        .nav_bar.hidden-xs
            - for(i in pages)
                -if(!pages[i].noshow)
                    h4: a.nav(href= "#" + pages[i].hash)= pages[i].name

block content
    
    //-.loader loading!
    .content
        - for(i in pages)
            .page.collapse(id=pages[i].hash)
                h3.page_name= pages[i].name
                .fill